.wrap {
    display: flex;
    width: 90%;
    height: 100vh;
}

aside {
    text-align: center;
    width: 50%;
    margin: auto 0;
    img {
        max-width: 100%;
    }
    .logo {
        width: 60%;
        margin-bottom: 20px;
    }
}

article {
    margin: auto 0;
    width: 50%;
    text-align: center;
    padding: 0 10%;
    .h1 {
        margin-bottom: 20px;
    }
}