$font_size_l: 24px;
$font_size_m: 20px;
$font_size_s: 16px;

$line_height_l: $font_size_l * 1.5;
$line_height_m: $font_size_m * 1.5;
$line_height_s: $font_size_s * 1.5;

$color_primary: #20cb9a;
$color_accent: #cd5a8a;
$color_shadow: rgba(0, 0, 0, .3);