// font
$font_size_l: 24px;
$font_size_m: 16px;
$font_size_s: 14px;
$line_height_l: 34.75px;
$line_height_m: 23.17px;
$line_height_s: 20.27px;
$font_family: 'Noto Sans TC', sans-serif;
$font_weight_bold: 700;
$font_weight_medium: 500;
$font_weight_regular: 400;
// font for small screen
$font_size_l_rwd: 20px;
$line_height_l_rwd: 28.96px;

// color
$color_primary: #FFD370;
$color_accent: #333333;
$color_alert: #D87355;
$color_disable: #9F9A91;