// https://www.oxxostudio.tw/articles/201408/sticky-ball.html
// https://codepen.io/mitour/pen/wvmOrVM
.effect {
  width: 150px;
  padding: 10px;
  background-color: #fff;
  filter: contrast(10);
}
.blueball1 {
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  margin: 0 auto;
  filter: blur(4px);
}
.blueball2 {
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  filter: blur(4px);
  animation: rball 6s infinite;
}
@keyframes rball {
  0%,
  100% {
    top: 10px;
    left: 2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  15%,
  35%,
  60%,
  85% {
    top: 11px;
    width: 1.6rem;
    height: 1.25rem;
  }
  80% {
    width: 1.4rem;
    height: 1.1rem;
  }
  25%,
  75% {
    top: 12px;
    width: 1rem;
    height: 1rem;
  }
  50% {
    top: 10px;
    left: calc(100% - 3.5rem);
    width: 1.5rem;
    height: 1.5rem;
  }
}
.loading {
  display: inline-block;
  width: 100%;
  padding-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  &:after {
    content: "";
    animation: dot 3s infinite;
  }
}
@keyframes dot {
  0%,
  100% {
    content: ".";
  }
  25%,
  75% {
    content: "..";
  }
  50% {
    content: "...";
  }
}
