body {
  background: linear-gradient(172.7deg, #FFD370 5.12%, #FFD370 53.33%, #FFD370 53.44%, #ffffff 53.45%, #ffffff 94.32%) no-repeat;
}

.container {
  padding-bottom: 36px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 24px;
}
nav h1,
nav .h1 {
  margin-bottom: 0;
  padding: 0 12px;
}
nav ul {
  display: flex;
}
nav li a {
  padding: 24px 12px;
  transition: font-weight 0.3s;
}
nav li a:hover {
  font-weight: 700;
}
nav .active {
  font-weight: 700;
}

.wrap {
  margin: 0 auto;
  width: 500px;
}

.embed_submit_field {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.embed_submit_field .btn_img {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: inherit;
  margin: 4px;
  padding: 0;
  top: 0;
  right: 0;
  cursor: pointer;
}

.list {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  margin-top: 16px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 20.27px;
}

.list_header {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}
.list_header li {
  cursor: pointer;
  text-align: center;
  padding: 16px;
  width: 100%;
  border-bottom: 2px solid transparent;
  transition: border 0.3s;
}
.list_header li:hover {
  border-color: #333333;
}
.list_header li.active {
  border-bottom: 2px solid #333333;
}

.list_items,
.list_footer {
  padding-left: 24px;
  padding-right: 48px;
}

.list_items {
  margin: 6px 0;
}
.list_items:hover .list_item:not(:hover) {
  opacity: 50%;
}
.list_items .list_item {
  transition: opacity 0.3s;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.list_items .list_item:hover .delete {
  opacity: 1;
}
.list_items label {
  transition: all 0.3s;
  padding: 17px 0 15px;
  vertical-align: middle;
  display: inline-block;
  width: calc(100% - 40px);
  cursor: pointer;
}

.list_footer {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

input[type=checkbox] {
  position: relative;
  padding: 0;
  vertical-align: middle;
  margin-right: 16px;
  width: 20px;
  height: 20px;
}
input[type=checkbox]:checked, input[type=checkbox].checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type=checkbox]:checked::before, input[type=checkbox].checked::before {
  position: absolute;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  width: 20px;
  height: 20px;
  color: #FFD370;
}
input[type=checkbox]:checked ~ label, input[type=checkbox].checked ~ label {
  text-decoration: line-through;
  color: #9F9A91;
}

.delete {
  position: absolute;
  right: -24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}
.delete i {
  font-size: 14px;
  line-height: 20.27px;
}

.cancel {
  cursor: pointer;
  color: #9F9A91;
  background: transparent;
  border: none;
  transition: color 0.3s;
}
.cancel:hover {
  color: #333333;
}

.empty {
  text-align: center;
  margin-top: 60px;
}
.empty h2 {
  font-size: 16px;
  line-height: 23.17px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  body {
    background: #FFD370;
  }
  nav {
    margin-bottom: 0;
  }
  nav li {
    display: none;
    font-size: 14px;
    line-height: 20.27px;
  }
  nav li:last-of-type {
    display: block;
  }
  .wrap {
    width: 311px;
  }
  .list_items,
.list_footer {
    padding-right: 16px;
    padding-left: 16px;
  }
  .list_footer {
    margin-bottom: 17px;
  }
  .delete {
    right: 0;
    opacity: 1;
  }
}/*# sourceMappingURL=todolist.css.map */