@import "./shared/reset";
@import "./shared/variable";
@import "./shared/base";

.not_found {
  text-align: center;
  margin-top: 10%;
  h1 {
    font-size: $font_size_l;
    line-height: $line_height_l;
    font-weight: 900;
  }
}
